name: Docker

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  schedule:
    - cron: '27 14 * * *'
  push:
    branches: [ "main" ]
    # Publish semver tags as releases.
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ "main" ]

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}


jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build --build-arg NEXT_PUBLIC_SUPABASE_URL="https://cgshusuuyjajzoscqycv.supabase.co" --build-arg NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNnc2h1c3V1eWphanpvc2NxeWN2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE4MDk4MjEsImV4cCI6MjA3NzM4NTgyMX0.WibD0telCKMsk3PfwZYSMHFQ8hs0F1CbeiG8JWm-9uw" -t cloud-project:latest .
